@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #f5f5f5; */
  font-family: "Helvetica";
}
/* flex flex-col justify-center items-center */

.btn {
  /* width: 320px; */
  height: 55px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.create-btn {
  height: 42px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  color: white;
}

.title {
  font-weight: 700;
  line-height: 1.2;
}

.product-name {
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.mbl-img {
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
  border-radius: 35.1522px;
}


